<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <ul>
        <% categories.forEach(category => { %>
            <li><strong><%= category.category %></li>
        <% }); %>
    </ul>
</main>
<%- include('partials/footer') %>
