<%- include('partials/header') %>

<main>
  <h1>Create New Category</h1>

  <% if (errors.length > 0) { %>
    <ul style="color:red;">
      <% errors.forEach(error => { %>
        <li><%= error %></li>
      <% }) %>
    </ul>
  <% } %>

  <form action="/new-category" method="POST">
    <div>
      <label for="name">Category Name</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= formData.name || '' %>"
        required
        maxlength="100" 
      >
    </div>

    <button type="submit">Create Category</button>
  </form>
</main>

<%- include('partials/footer') %>