<%- include('partials/header') %>

<main>
    <h1>Welcome <%= name %></h1>

    <p>Email: <%= email %></p>

    <% if (role === 'admin') { %>
        <a class="btn-primary" href="/users">View All Users</a>
    <% } %>
</main>

<%- include('partials/footer') %>