<%- include('partials/header') %>

<main>
  <h1>Edit Category</h1>
  <!-- Edit Category Form -->
  <form action="/edit-category/<%= category.category_id %>" method="POST">
    <div>
      <label for="name">Category Name</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= formData.name %>"
        required
        maxlength="100"
      >
    </div>

    <button type="submit">Update Category</button>
  </form>
</main>

<%- include('partials/footer') %>