<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2>
        Welcome to the CSE 340 Service Network
    </h2>
    <p>
        Our Mission is to promote service across the world by connecting volunteers with service opportunities in their community
    </p>
    <img class="main-logo" src="images/cse340-service-network.png" alt="CSE 340 Service Network Logo">
    <% if (isLoggedIn) { %>
        <p><a class="btn-primary" href="/dashboard">My Dashboard</a></p>
    <% } %>
</main>
<%- include('partials/footer') %>
