<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p> Here are a few of our partner organizations:</p>
    <ul>
        <li><img src="/images/brightfuture-logo.png" alt="brightFuture Builders logo"><strong>brightFuture Builders</strong>: info@brightfuture.org</li>
        <li><img src="/images/greenharvest-logo.png" alt="GreenHarvest Growers logo"><strong>GreenHarvest Growers</strong>: contact@greenharvest.org</li>
        <li><img src="/images/unityserve-logo.png" alt="UnityServe Volunteers logo"><strong>UnityServe Volunteers</strong>: hello@unityserve.org</li>
    </ul>
</main>
<%- include('partials/footer') %>
