<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p> Upcoming Service Projects</p>
    <ul>
        <li>Park Cleanup - Join us to clean up local parks and make them beautiful.</li>
        <li>Food Drive - Help collect and distribute food to those in need.</li>
        <li>Community Tutoring - Volunteer to tutor students in various subjects.</li>
    </ul>
</main>
<%- include('partials/footer') %>
