    <footer>
        <p>&copy; <%= new Date().getFullYear() %> CSE 340 Service Network.</p>
        <% if (NODE_ENV === 'development') {  %>
            (Development mode)
        <% } %>
    </footer>
</body>
</html>